<div class="container">
    <div class="row topics-row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 topics-col">
            <button class="btn btn-lg btn-block" ng-click="displayTopics('science')">Science</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('technology')">Technology</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('engineering')">Engineering</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('math')">Math</button>
        </div>
    </div>
    <div class="row carousel-row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- directive to display the carousel  -->
            <tile></tile>
        </div>
    </div>

</div>