<div class="container">
    <div class="row topics-row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 topics-col">
            <button class="btn btn-lg btn-block" ng-click="displayTopics('Science')">Science</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('Technology')">Technology</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('Engineering')">Engineering</button>
            <button class="btn btn-lg btn-block" ng-click="displayTopics('Math')">Math</button>
        </div>
    </div>
    <div class="row carousel-row">
        <!-- directive to display the carousel  -->
    </div>
    
</div>