<div class="container">
    <div class="row topics-row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 topics-col">
            <button class="btn btn-lg btn-block btn-primary">{{TopicService.currentTopic.name}}</button>
            <button class="btn btn-lg btn-block" ng-repeat="topic in TopicService.topicList" ng-click="TopicService.getTopics(topic)">{{topic.name}}</button>
        </div>
    </div>
    <div class="row carousel-row">
        <!-- directive to display the carousel  -->
    </div>
    
</div>


<!--ng-repeat="topic in TopicService.topicList"-->