<div class="container">
    <div class="row topics-row">
        <div class="col-xs-12 col-md-6 topics-col">
            <div class="panel panel-primary topics-panel">
                <div class="panel-heading main-topic">
                    <h2 class="panel-title main-topic-header">
                        {{TopicService.currentTopic.name}}
                    </h2>
                    <button type="button" class="btn btn-lg btn-info back-button" ng-click="TopicService.navUp(TopicService.currentTopic)" aria-label="Navigate up">
                        <!--http://glyphicons.com/-->
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </button>
                </div>


                <!-- canvas to draw lines -->
                <div class="canvasContainer">
                    <!-- container to make canvas honor padding of parent col-->
                    <canvas id="topicCanvas" width={{canvasWidth}} height=230></canvas>
                </div>
                <drawing-directive ng-repeat="topic in TopicService.topicList"></drawing-directive>
            </div>
        </div>
        <!-- directive to display tiles  -->
        <tile></tile>
    </div>
</div>


<!--ng-repeat="topic in TopicService.topicList"-->