<div class="jumbotron about-jumbotron">
    <div class="container">
        <h1>Climbing Tree</h1>
        <p>Connect with high quality websites, apps, and other resources that help you teach STEM subjects.</p>
    </div>
</div>
<div class="container about-content">
    <div class="row">
        <div class="col-xs-12 col-md-7">
            <p>
                Many great resources are available to help teachers and parents teach their students STEM (science, technology, engineering, and math). They may take the form of websites, apps, or local events. More and more show up all the time, like pop albums. It can be difficult to discover or to keep up with the highest-quality ones.
            </p>
            <p>
                That’s why Climbing Tree helps generate a community-driven collection of those resources where teachers and parents can discover new ones and recommend new ones to be added. Other features include the ability to rate resources and comment on how you have used them.
            </p>
            <p>
                In short this will save you a lot of time in discovering resources that help you get to teaching. To start exploring, just click <a href="#/">home</a> and browse the topics!
            </p>
            <p>
                And feel free to pay a visit to the Climbing Tree blog to find news and commentary on STEM teaching (with a regular Utah emphasis).
            </p>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Contact Climbing Tree
                    </h3>
                </div>
                <div class="panel-body">
                    <p>email: joehoskisson (at) gmail (dot) com</p>
                    <p>twitter: @joehoski</p>
                </div>
            </div>
        </div>
    </div>
</div>