<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn-lg" data-toggle="collapse" data-target="#myNavbar">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <a class="navbar-brand" href="#/">Climbing Tree</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/') }"><a href="#/">Home</a></li>
                    <li ng-class="{ active: isActive('/about') }"><a href="#/about">About</a></li>
                    <li ng-class="{ active: isActive('/blog') }"><a href="/blog">Blog</a></li>
                    <li ng-class="{ active: isActive('/submit-resource') }"><a href="#/submit-resource">Submit Resource</a></li>
                    <li ng-class="{ active: isActive('/post-resource') || isActive('/manage-topics') || isActive('/manage-resources') } " class="dropdown">
                        <a ng-show="userService.isAdmin()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/post-resource">Post Resources</a></li>
                            <li><a href="#/manage-topics">Manage Topics</a></li>
                            <li><a href="#/manage-resources">Manage Resources</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-hide="userService.isAuthenticated()" href="#/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a ng-hide="userService.isAuthenticated()" href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a ng-show="userService.isAuthenticated()" href="#/logout"><span class="glyphicon glyphicon-log-out"> Logout</span></a></li>
                </ul>
            </div>
        </div>
    </nav>