<div ng-repeat="resource in ResourceService.resourceList track by $index" class="tile-container col-xs-12 col-md-6" ng-click="goToResourcePage(resource)">
    <!-- to make title-tile honor padding of tile-container -->
    <div class="padding-enforcer">
        <img id="tile-image" ng-src="{{resource.imgUrl}}" style="margin:auto;" class="img-responsive">
        <div class="carousel-caption">
            <p>{{resource.description}}</p>
        </div>
        <!--tile title -->
        <div class="col-xs-12 tile-title">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-1">
                    <div class="row">
                        <div class="col-xs-10">
                            <span class="resource-name">{{resource.name}}</span>
                        </div>
                        <div class="col-xs-12">
                            <span><img ng-src="images/rating/{{determineStar(resource, 1)}}" alt="" width=15></span>
                            <span><img ng-src="images/rating/{{determineStar(resource, 2)}}" alt="" width=15></span>
                            <span><img ng-src="images/rating/{{determineStar(resource, 3)}}" alt="" width=15></span>
                            <span><img ng-src="images/rating/{{determineStar(resource, 4)}}" alt="" width=15></span>
                            <span><img ng-src="images/rating/{{determineStar(resource, 5)}}" alt="" width=15></span>
                            <span class="num-ratings">({{resource.ratings.length}})</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-default btn-lg" ng-click="goToSite($event, resource)">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>