<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-5 col-md-push-7">
            <form>
                <div class="form-group">
                    <label for="resource-name">Resource Name</label>
                    <input type="text" class="form-control" id="resource-name" placeholder="url" ng-model="newResource.name">
                </div>
                <div class="form-group">
                    <label for="linkToResource">Resource Url</label>
                    <input type="text" class="form-control" id="linkToResource" placeholder="url" ng-model="newResource.url">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description to show on climbing tree" ng-model="newResource.description"></textarea>
                </div>
                <div class="form-group">
                    <label for="imgUrl">Image Url</label>
                    <input type="text" class="form-control" id="imgUrl" placeholder="upload image and url will show here" ng-model="newResource.imgUrl">
                </div>
                <div class="form-group">
                    <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">Drop image here or click to upload</div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    Upload progress:
                    <ul>
                        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
                    </ul>
                    <div class="img-progress-box">
                        <div class="img-progress-bar" ng-style="barWidth"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="existing-topic">Use existing topic</label>
                    <input type="radio" ng-model="topicType" value="existing" checked ng-click="newTopic = {}">
                    <label for="new-topic">Create new topic</label>
                    <input type="radio" ng-model="topicType" value="new" ng-click="resourceTopic = {}">
                </div>
                <div ng-if="topicType === 'new'" class="form-group">
                    <label for="topic-name">Topic Name</label>
                    <input type="text" class="form-control" id="topic-name" placeholder="name the topic" ng-model="newTopic.name">
                </div>
                <div ng-if="topicType === 'new'" class="form-group">
                    <label for="topic-parent">Topic's Parent</label>
                    <select name="topicParent" id="topic-parent" ng-model="newTopic.parent">
                        <option ng-repeat="topic in allTopics" ng-value="topic._id">{{topic.name}}</option>
                    </select>
                </div>
                <div ng-if="topicType === 'existing'" class="form-group">
                    <label for="existing-topic">Pick an existing topic</label>
                    <select name="existing-topic" id="existing-topic" ng-model="resourceTopic._id">
                        <option ng-repeat="topic in allTopics" ng-value="topic._id">{{topic.name}}</option>
                    </select>
                </div>
                <button class="btn btn-primary" ng-click="postResource(newResource, resourceTopic, newTopic, topicType)" ng-disabled=" (!resourceTopic._id && (!newTopic.name || !newTopic.parent) ) || !newResource.name  || !newResource.description || !newResource.url">Submit</button>
            </form>
        </div>
        <div class="col-xs-12 col-md-7 col-md-pull-5">
            <div class="row">
                <h1>Recommended Resources</h1>
                <div class="col-xs-12 recommendation" ng-repeat="rec in recommendations">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><a ng-href={{rec.address}}>{{rec.address}}</a></h3>
                            <h5><span class="comment-date">from {{rec.userId.username}} on {{rec.date | date : medium}}</span></h5>
                        </div>
                        <div class="panel-body">
                            <p>{{rec.reason}}</p>
                            <button class="btn btn-danger btn-xs glyphicon glyphicon-trash pull-right" ng-click="deleteRecommendation(rec)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>