/* 
set all parent elements' height to allow for percentage height of children 
.ng-scope is class of ng-view
*/
html, body, .ngview-window, .container {
    height: 100%;
}
.topics-row {
    height: 66%;
}
.topics-col {
    height: 100%;
}

.subtopic {
    width: 35%;
    margin-top: 3%;
    margin-left: 10%;
}

#topicCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvasContainer {
    position: relative;
    z-index: -1;
}