/* 
set all parent elements' height to allow for percentage height of children 
.ng-scope is class of ng-view
*/
html, body, .ngview-window, .container {
    height: 100%;
}
.topics-row {
    height: 40%;
}
.topics-col {
    height: 100%;
}

.subtopic {
    width: 35%;
    margin-top: 3%;
    margin-left: 10%;
/*    z-index: 10;*/
}

#topicCanvas {
    position: absolute;
    top: 0;
    left: 0;
}

.canvasContainer {
    position: relative;
    z-index: -1;
}

.main-topic-header {
    display: inline-block;
    width: 70%;
    margin-left: 12%;
}

.back-button {
   width: 13%;
}

.panel {
    margin: 0;
}

h1.panel-title {
    font-size: 36px;
}
h2.panel-title {
    font-size: 30px;
}
h3.panel-title {
    font-size: 24px;
}
h4.panel-title {
    font-size: 18px
}
h5.panel-title {
    font-size: 14px
}
h6.panel-title {
    font-size: 10px;
} 

/* for UI Bootstrap, see angular-ui.github.io/bootstrap/ under "CSS"*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* set image height in carousel */
#tile-image {
    height: 300px;
}

.tile-descrip {
    margin: 5px 15px 10px 15px;
}

.tile-container {
    cursor: pointer;
    margin-bottom: 12px;
}

.padding-enforcer {
    position: relative;
}

.tile-title {
    position: absolute;
    top: 0; left:0; right:0;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.65);
}

.tile-title span {
    font-size: 18pt;
    font-weight: bold;
}

.tile-title button {
    position:relative;
    margin-top: 5px;
/*    position button above carousel "next" button */
    z-index: 1;
}

.resource-page span.glyphicon-globe, span.glyphicon-arrow-left {
}

