<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Recommend a resource</h1>
        </div>
        <div class="col-xs-12 col-md-6">
            <p class="recommend-first-p">Climbing Tree is a collection of good stuff. Who better than you to share more quality resources--websites or apps--that help you teach Science, Technology, Engineering or Math.</p>
            <p>Share a resource here that you know and like. It might get added into Climbing Tree and your friends and students will have you to thank!</p>
        </div>

        <div class="col-xs-12 col-md-6 submission">
            <form>
                <div class="form-group">
                    <label for="linkToResource">Web address of resource</label>
                    <input type="text" class="form-control" id="linkToResource" placeholder="Web address" ng-model="recommendation.address">
                </div>
                <div class="form-group">
                    <label for="recommendation">Why you recommend this resource</label>
                    <textarea class="form-control" id="recommendation" placeholder="Why you're recommending..." ng-model="recommendation.reason"></textarea>
                </div>
                <button class="btn btn-primary" ng-click="submitRecommendation(recommendation)" ng-disabled="!UserService.isAuthenticated()">Submit</button>
            </form>
            <div class="row">
                <div class="col-xs-12">
                    <div ng-show="recentSubmission" class="alert alert-success" role="alert">
                        Thanks for your recommendation!
                    </div>
                    <div ng-show="!UserService.isAuthenticated()" class="alert alert-warning" role="alert">
                        You need to log in to submit a recommendation.
                    </div>
            <!--ng-show="!UserService.isAuthenticated()"-->
                </div>
            </div>
        </div>
    </div>
</div>