<div class="container resource-page">
    <div class="row">
        <div class="col-xs-12 rp-header">
            <h1>Resource Title
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
            </h1>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
           <a ng-href="#/topics/{{TopicService.currentTopic._id}}">
            <button type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
            </a>
        </div>
        <div class="col-xs-6 col-md-4 col-md-push-4 text-center">
            <button type="button" class="btn btn-default btn-lg btn-block">
                <span>Go to site</span>
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-md-4 col-md-offset-0 col-md-pull-4 text-center">
            <span><img src="images/rating/star.png" alt="" width=40></span>
            <span><img src="images/rating/star.png" alt="" width=40></span>
            <span><img src="images/rating/star.png" alt="" width=40></span>
            <span><img src="images/rating/star.png" alt="" width=40></span>
            <span><img src="images/rating/star.png" alt="" width=40></span>
            <h5>Rate it</h5>
        </div>
    </div>
</div>