<div class="container">
    <div class="row">
        <div class="col-xs-12 rp-header">
            <h1>Resource Title
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
                <span><img src="images/rating/yellowStar.png" alt="" width=15></span>
            </h1>
        </div>
        <div class="col-xs-6 col-md-4">
            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-6 col-md-4 col-md-push-4">
            <button type="button" class="btn btn-default btn-lg">
                Go to site:
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-offset-3 col-xs-6 col-md-4 col-md-offset-0 col-md-pull-4 ">
            <span><img src="images/rating/star.png" alt="" width=50></span>
            <span><img src="images/rating/star.png" alt="" width=50></span>
            <span><img src="images/rating/star.png" alt="" width=50></span>
            <span><img src="images/rating/star.png" alt="" width=50></span>
            <span><img src="images/rating/star.png" alt="" width=50></span>
        </div>
    </div>
</div>