<div class="container resource-page">
    <div class="row">
        <div class="col-xs-12 rp-resource-name">
            <h1 class="rp-resource-name">{{resource.name}}</h1>
            <h4 class="rep-rating-header">
                <span class="rated-stars"><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{determineStar(resource, 1)}}" alt="" width=15></span>
                <span class="rated-stars"><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{determineStar(resource, 2)}}" alt="" width=15></span>
                <span class="rated-stars"><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{determineStar(resource, 3)}}" alt="" width=15></span>
                <span class="rated-stars"><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{determineStar(resource, 4)}}" alt="" width=15></span>
                <span class="rated-stars"><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{determineStar(resource, 5)}}" alt="" width=15></span>
                <span class="num-ratings">({{resource.ratings.length}})</span>
            </h4>
        </div>
        <div class="col-xs-6 col-md-4 text-center">
            <button type="button" class="btn btn-default btn-lg btn-block" ng-click="backLink(resource.topic)">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-xs-6 col-md-4 col-md-push-4 text-center">
            <a ng-href="{{resource.url}}" target="_blank">
                <button type="button" class="btn btn-default btn-lg btn-block">
                    <span>Go to site</span>
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                </button>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-0 col-md-pull-4 text-center">
            <span><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{userStarImg[0]}}" alt="" width=40 ng-click="rate(1)"></span>
            <span><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{userStarImg[1]}}" alt="" width=40 ng-click="rate(2)"></span>
            <span><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{userStarImg[2]}}" alt="" width=40 ng-click="rate(3)"></span>
            <span><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{userStarImg[3]}}" alt="" width=40 ng-click="rate(4)"></span>
            <span><img ng-src="http://res.cloudinary.com/climbing-tree/image/upload/v1478281881/{{userStarImg[4]}}" alt="" width=40 ng-click="rate(5)"></span>
            <h5>Rate it</h5>
        </div>
        
        <!-- some vertical white space-->
        <div class="col-xs-12 breathing-room">
            <div ng-show="ResourceService.multipleRatingAttempt" class="alert alert-warning" role="alert">
                You have already rated this resource and cannot rate more than once.
            </div>
        </div> 
        
        <div class="col-xs-12">
            <h3>Comments</h3>
        </div> 
        <div class="col-xs-12 col-md-8 comment" ng-repeat="comment in ResourceService.commentList">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{comment.userId.username}} <span class="comment-date">on {{comment.date | date : medium}}</span></h3>
                </div>
                <div class="panel-body">
                    <p>{{comment.body}}</p>
                    <button ng-if = 'userId === comment.userId._id' class="btn btn-danger btn-xs glyphicon glyphicon-trash pull-right" ng-click="deleteComment(comment)"></button>
                </div>
            </div>
        </div>
        
        <!-- some vertical white space-->
        <div class="col-xs-12 breathing-room"></div>
        
        <div class="col-xs-12 col-md-8">
            <h3>Add a comment</h3>
            <form>
                <div class="form-group">
                    <textarea ng-model="newComment.body" id="" placeholder="Let people know how you've used this resource or what you think of it." class="form-control"></textarea>
                </div>
                <div class="form-inline">
                    <div class="row">
                        <div class="col-xs-3">
                            <button class="btn btn-primary" ng-click="postComment(newComment)">Submit Comment</button>
                        </div>
                        <div class="col-xs-9">
                            <div ng-show="recentComment" class="alert alert-success" role="alert">
                                Thanks for your comment!
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
        <!-- some vertical white space-->
        <div class="col-xs-12 breathing-room"></div>
        
    </div>
</div>