<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Topics</h1>
        </div>
        <div class="col-xs-12">
            <hr>
            <button class="btn btn-lg btn-default">Parent</button>
            <button class="btn btn-lg btn-primary">Topic</button>
            <hr>
        </div>
        <div ng-repeat="topic in allTopics" class="col-xs-12 col-md-7 manage-topic">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-lg btn-default">{{topic.parent.name || "No Parent"}}</button>
                    <button class="btn btn-lg btn-primary">{{topic.name}}</button>
                </div>

                <div class="panel-body">
                    <form class="form-inline">
                        <div ng-show="topic.editing" class="form-group">
                            <label for="choose-parent">Parent</label>
                            <select name="choose-parent" id="choose-parent" ng-model="topic.newParentId">
                                <option ng-repeat="parentTopic in parentTopics" value="{{parentTopic._id}}">{{parentTopic.name}}</option>
                            </select>
                        </div>
                        <div ng-show="topic.editing" class="form-group">
                            <label for="topic-name">Topic Name</label>
                            <input type="text" id="topic-name" ng-model="topic.name">
                        </div>
                    </form>
                    
                    <button class="btn btn-warning btn-md glyphicon glyphicon-pencil pull-right" ng-click="topic.editing = true" ng-hide="topic.editing"></button>
                    <button ng-show="topic.editing" class="btn btn-success btn-md glyphicon glyphicon-floppy-disk pull-right" ng-disabled="!topic.newParentId || !topic.name" ng-click="updateTopic(topic)"></button>
                    <button ng-show="topic.editing" class="btn btn-danger btn-md glyphicon glyphicon-trash pull-right" ng-click="deleteTopic(topic)"></button>
                    <button ng-show="topic.editing" class="btn btn-warning btn-md glyphicon glyphicon-remove pull-right" ng-click="topic.editing = false"></button>
                </div>
            </div>
        </div>
    </div>
</div>