<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Manage Topics</h1>
        </div>
        <div class="col-xs-12">
            <hr>
            <button class="btn btn-lg btn-default">Parent</button>
            <button class="btn btn-lg btn-primary">Topic</button>
            <hr>
        </div>
        <div ng-repeat="topic in allTopics" class="col-xs-12 col-md-7 manage-topic">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-lg btn-default">{{topic.parent.name || "No Parent"}}</button>
                    <button class="btn btn-lg btn-primary">{{topic.name}}</button>
                </div>

                <div class="panel-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="choose-parent">Parent</label>
                            <select name="choose-parent" id="choose-parent" ng-model="newParent">
                                <option ng-repeat="parentTopic in parentTopics" value="{{parentTopic}}">{{parentTopic.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="topic-name">Topic Name</label>
                            <input type="text" id="topic-name" ng-model="topic.name">
                        </div>
                    </form>
                    
                    <button class="btn btn-warning btn-xs glyphicon glyphicon-pencil pull-right"></button>
                    <button class="btn btn-success btn-xs glyphicon glyphicon-floppy-disk pull-right"></button>
                    <button class="btn btn-danger btn-xs glyhpicon glyphicon-trash pull-right"></button>
                </div>
            </div>
        </div>
    </div>
</div>